@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Ai Tools Directory</h1>
        <p class="col-md-8">
            <span class="fs-4">Search our ai tools directory.</span>
            <br />
            <span class="fs-5 fst-italic text-decoration-underline">completly free, no signup required</span>
        </p>        
        <a href="/search" class="btn btn-warning btn-lg" type="button">Start Searching</a>
    </div>
</div>
