@{
    Layout = "_Layout";
    ViewData["Title"] = "Email Confirmed";
}

<!-- Enter Code view-->
<div class="w-full max-w-md mx-auto my-10">

    <!-- Heading -->
    <h1 class="text-4xl font-bold text-center mb-3">😊 Email Confirmed!</h1>

    <!-- Subheading -->
    <p class="text-gray-500 text-center mb-5">Your email account is now confirmed, Thank you.</p>

    <div class="mt-6 text-center">
        <small class="text-gray-500">
            <a href="/Login" class="text-yellow-600 hover:text-yellow-500">Log in</a> to go to your Dashboard.
        </small>
    </div>
</div>