@{
    Layout = "_Layout";
    ViewData["Title"] = "Email Confirmed";
}

<!-- Enter Code view-->
<div class="col-12 col-md-5 col-xl-4 my-5">

    <!-- Heading -->
    <h1 class="display-4 text-center mb-3">😊 Email Confirmed !</h1>

    <!-- Subheading -->
    <p class="text-muted text-center mb-5">Your email account is now confirmed, Thank you.</p>

    <div class="text-center">
        <small class="text-muted text-center">
            <a href="/Login">Log in</a> to go to your Dashbaord.
        </small>
    </div>
</div>