@{
    Layout = "_Layout";
    ViewData["Title"] = "Forgot Password";
    ViewData["Meta-Description"] = "Forgot your password for the AI-powered brand management system? No problem. Reset your password quickly and easily.";
    ViewData["Meta-Keywords"] = "forgot password, AI-powered, brand management system, GetDigitalContent, reset, easily, brand, secure, password reset feature";
}

<div class="col-12 col-md-5 col-xl-4 my-5">

    <!-- Heading -->
    <h1 class="display-4 text-center mb-3">Reset Password</h1>

    <!-- Subheading -->
    <p class="text-muted text-center mb-5">Enter you email address to get your reset code.</p>

    <!-- Form -->
    <form method="post" action="/ForgotPassword" class="needs-validation" novalidate>

        <div class="form-group">
            <label class="form-label">Email Address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="name@address.com">
        </div>

        <div class="form-group">
            <label class="h3 text-center text-danger m-0 p-0">@ViewBag.LoginMessage</label>
        </div>

        <button type="submit" class="btn btn-lg w-100 btn-primary mb-3">Reset Password</button>
    </form>

    <div class="text-center">
        <small class="text-muted text-center">
            Remember your password? <a href="/Login">Log in</a>.
        </small>
        <br />
        <small class="text-muted text-center">
            Don't have an account? <a href="/Signup">SignUp</a>.
        </small>
    </div>

</div>