@{
    Layout = "_Layout";
    ViewData["Title"] = "ResetPassword";
    ViewData["Meta-Description"] = "Reset your password for SearchAiDirectory, a social media platform. Enter your a new password anc confirm that password.";
    ViewData["Meta-Keywords"] = "SearchAiDirectory, social media, reset password";
}

<!-- Reset Password View-->
<div class="w-full max-w-md mx-auto my-10">

    <!-- Heading -->
    <h1 class="text-4xl font-bold text-center mb-3">Reset Password</h1>

    <!-- Subheading -->
    <p class="text-gray-500 text-center mb-5">Enter a new password and confirm that password.</p>

    <div class="mt-6 text-center">
        <label id="invalidMessage" class="block text-sm font-medium text-red-600">@ViewBag.Message</label>
    </div>

    <!-- Form -->
    <form method="post" id="reset-password-form" onsubmit="event.preventDefault(); onSubmitForm();" action="/ResetPassword" class="space-y-6" novalidate>
        @Html.AntiForgeryToken()
        <input type="hidden" id="email" name="email" value="@ViewBag.Email" />

        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Password</label>
            <div class="relative">
                <input type="password"
                       id="password"
                       name="password"
                       class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm"
                       placeholder="password" />
                <button type="button" onclick="togglePasswordVisibility('password')" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                    Show
                </button>
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Confirm Password</label>
            <div class="relative">
                <input type="password"
                       id="confim-password"
                       name="confim-password"
                       class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm"
                       placeholder="confirm password" />
                <button type="button" onclick="togglePasswordVisibility('confim-password')" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                    Show
                </button>
            </div>
        </div>

        <div class="text-center g-recaptcha" id="html_element"></div>

        <button id="ResetPasswordButton" type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 my-3">Reset Password</button>
    </form>

    <div class="mt-6 text-center">
        <small class="text-gray-500">
            Remember your password? <a href="/Login" class="text-yellow-600 hover:text-yellow-500">Log in</a>.
        </small>
        <br />
        <small class="text-gray-500">
            Don't have an account? <a href="/Signup" class="text-yellow-600 hover:text-yellow-500">SignUp</a>.
        </small>
    </div>

</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?trustedtypes=true&onload=onloadCallback&render=explicit" async defer></script>
    <script type="text/javascript">

        function togglePasswordVisibility(inputId) {
            var input = document.getElementById(inputId);
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }

        function onSubmitForm() {

            updateSubmitButton(true);

            var validPassword = validatePassword();
            if (validPassword == false) { updateSubmitButton(); return false; }

            if (recaptcha_verified == false) { updateSubmitButton(); m.innerHTML = "Please validate that you are not a robot."; return false; }
            document.getElementById('reset-password-form').submit();

            return false;
        }

        const m = document.getElementById('invalidMessage');
        const b = document.getElementById('ResetPasswordButton');

        var recaptcha_verified = false;
        var onloadCallback = function () {

            grecaptcha.render('html_element', {
                'sitekey': '6LfzjKMqAAAAAKwjEGUMwdhhlI_Ad4QNMtsgd9n-',
                'callback': function (token) {
                    recaptcha_verified = true;
                },
                'expired-callback': function () {
                    m.innerHTML = "Unable to Submit Form.";
                },
                'error-callback': function () {
                    m.innerHTML = "Unable to Submit Form.";
                },
                'data-size': "compact"
            });

        };

        function validatePassword() {
            var p = document.getElementById('password').value;
            var c = document.getElementById('confim-password').value;
            var returnValue = false;

            var errors = [];
            if (p.length < 8) {
                errors.push("The password must be at least 8 characters.");
            }
            if (p.search(/[a-z]/i) < 0) {
                errors.push("The password must contain at least one letter.");
            }
            if (p.search(/[0-9]/) < 0) {
                errors.push("The password must contain at least one digit.");
            }
            if (p != c) {
                errors.push("The password and confirm password must be the same.");
            }
            if (errors.length > 0) {
                m.innerHTML = errors.join("\n");
                returnValue = false;
            }
            else {
                m.innerHTML = "";
                returnValue = true;
            }
            return returnValue;
        }

        function updateSubmitButton(submitting) {
            if (submitting == true) {
                b.innerHTML = '<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Loading';
                b.disabled = true;
            }
            else {
                b.innerHTML = 'Reset Password';
                b.disabled = false;
            }
        }
    </script>
}