@model User
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
    ViewData["Meta-Description"] = "Sign up for SearchAiDirectory and join to manage your brand. Create your account and create a ai-powered brand. Easy and quick registration process";
    ViewData["Meta-Keywords"] = "sign up, SearchAiDirectory, join, brand management, create, account, connect, share, easy, quick, registration process";
}

<div class="w-full max-w-md mx-auto my-10">

    <!-- Heading -->
    <h1 class="text-4xl font-bold mb-3">Sign up</h1>

    <!-- Subheading -->
    <p class="text-yellow-500 mb-5">Free To SignUp. No <i class="bi bi-credit-card"></i> needed.</p>

    <!-- Form -->
    <form method="post" action="/Signup" class="space-y-6">

        <input type="hidden" id="ID" name="ID" />

        <input type="hidden" id="ID" name="ID" value="@Model.ID" />
        <input type="hidden" id="TimeZone" name="TimeZone" />

        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Name</label>
            <input type="text" id="Name" name="Name" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" placeholder="full name" required />
        </div>

        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Email Address</label>
            <input type="email" id="email" name="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" placeholder="name@address.com" required />
        </div>

        <div class="mb-6">
            <label class="block text-sm font-medium text-gray-700">Password</label>
            <div class="relative mt-1">
                <input type="password" id="password" name="password" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" placeholder="Enter your password" required />
                <button class="absolute inset-y-0 right-0 px-3 py-2" type="button" onclick="ShowPassword();">
                    <i id="eye-icon" class="bi bi-eye"></i>
                </button>
            </div>
        </div>

        <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">Sign up</button>

        <div class="mt-6 text-center">
            <small class="text-gray-500">
                Already have an account? <a href="/Login" class="text-yellow-600 hover:text-yellow-500">Log in</a>.
            </small>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?trustedtypes=true&onload=onloadCallback&render=explicit" async defer></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("TimeZone").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
        });

        function onSubmitForm() {

            updateSubmitButton(true);

            var emailExisits = checkEmailExisits();
            if (emailExisits == true) { updateSubmitButton(); return false; }

            var validPassword = validatePassword();
            if (validPassword == false) { updateSubmitButton(); return false; }

            if (recaptcha_verified == false) { updateSubmitButton(); m.innerHTML = "Please validate that you are not a robot."; return false; }

            document.getElementById('signup-form').submit();

            return false;
        }

        const m = document.getElementById('invalidMessage');
        const b = document.getElementById('SignUpButton');

        var recaptcha_verified = false;
        var onloadCallback = function () {

            grecaptcha.render('html_element', {
                'sitekey': '6Ld7PRIjAAAAAG31jBGEdU3KKGUZyXBV2HSkwOp7',
                'callback': function (token) {
                    recaptcha_verified = true;
                },
                'expired-callback': function () {
                    m.innerHTML = "Unable to Submit Form.";
                },
                'error-callback': function () {
                    m.innerHTML = "Unable to Submit Form.";
                },
                'data-size': "compact"
            });

        };

        function checkEmailExisits() {
            const e = document.getElementById('email');
            var returnValue = false;
            if (e.value != "") {
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: '/CheckEmailExisit',
                    data: { email: e.value },
                    success: function (data) {
                        if (data === true) {
                            m.innerHTML = "Email already exisits, please use another email or login through the login page.";
                            returnValue = true;
                        }
                        else {
                            m.innerHTML = "";
                            returnValue = false;
                        }
                    }
                });
            }
            return returnValue;
        }

        function validatePassword() {
            var p = document.getElementById('password').value;
            var returnValue = false;

            var errors = [];
            if (p.length < 8) {
                errors.push("The password must be at least 8 characters.");
            }
            if (p.search(/[a-z]/i) < 0) {
                errors.push("The password must contain at least one letter.");
            }
            if (p.search(/[0-9]/) < 0) {
                errors.push("The password must contain at least one digit.");
            }
            if (errors.length > 0) {
                m.innerHTML = errors.join("\n");
                returnValue = false;
            }
            else {
                m.innerHTML = "";
                returnValue = true;
            }
            return returnValue;
        }

        function updateSubmitButton(submitting) {
            if (submitting == true) {
                b.innerHTML = '<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Loading';
                b.disabled = true;
            }
            else {
                b.innerHTML = 'Complete Signup';
                b.disabled = false;
            }
        }

        function ShowPassword() {

            // toggle the type attribute
            const password = document.getElementById('password');
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            // toggle the eye slash icon
            const togglePassword = document.getElementById('eye-icon');
            togglePassword.classList.toggle('bi-eye');
            togglePassword.classList.toggle('bi-eye-slash');
        }
    </script>
}
